/* .phase1{
    background-color: white;
    color: black;
    width: 95%;
    height: 10%;
    padding: 5px;
    position: absolute;
    left: 40px;
}
.calculator{
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0);    
}
.phase2{
    background-color: white;
    color: black;
    width: 80%;
    height: 5%;
    padding: 5px;
    position: absolute;
    left: 40px;    
}
.calculator_display{
    background-color: #3E3E5E;
    width: 60vw;
    position: absolute;
    height: 100vh;
    margin-top: 10px;
}
.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns:2fr 2fr 2fr 2fr;
    background-color: #3E3E5E;
    padding: 10px;
    position: relative;
  }
  
  .grid-item {
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }
  .button1{
    height:35px;
    width:100px;
    background-color:#2A2A54;
    border-radius:10px;                     
    color:white;
    font-weight:bold;
  }
  .button2{
    height:35px;
    width:100px;
    background-color:red;
    border-radius:10px;
    color:white;
    font-weight:bold;
  }
  .button3{
    height:35px;
    width:100px;
    background-color:#FA9632;
    border-radius:10px;
    color:white;
    font-weight:bold;
  }
  .phase3{
    color: black;
    width: 80%;
    height: 5%;
    padding: 5px;
    position: relative;
    left: 40px;
    margin-top: 80px;
} */

.main{
  border: 2px solid grey;
  margin: 20px auto;
  width: 500px;
}
table{
  width:100% ;
  background-color: grey;
}
td {
  width: 25%;
  color: whitesmoke;
  font-weight: bold;
}
button{
  width: 80%;
  background-color:royalblue;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  border-width: 0px;
}
input{
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}